.mainBlock {
    width: 1200px;
    max-height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    .cards-container {
        display: flex;
        width: 1000px;
        justify-content: space-around;
    }
    
}

