.mainBlock {
    width: 1000px;
    max-height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    .cards-container {
        display: flex;
        justify-content: space-between;
        grid-gap: 36px; 
    }
}

