// Переменные
$background: #3a91ab;

/* Общие стили */
.employee_block {
  margin-top: 100px;
  margin-left: 130px;
  max-width: 1250px;
  min-height: 500px;
  .search_field {
    min-width: 500px;
    max-width: 600px;
    margin: auto;
  }
}

/* Стили для поля поиска */

.employee_card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  justify-content: space-around; // Центрируем карточки по горизонтали
  align-items: center; // Выравниваем карточки по вертикали в начале контейнера
  min-height: 400px;

  .employee_names {
    text-align: center;
    text-decoration: none !important;
  }

  .department-employees > img {
    width: 100%;
    height: 200px;
  }
  .emptyResult{
    background-color: red;
    margin-left: 500px;
  }
}

.ant-card {
  background-color: $background;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    -webkit-box-shadow 0.3s ease,
    -moz-box-shadow 0.3s ease;
  min-height: 440px;
  max-height: 450px;
  max-width: 250px;
}

/* Стили для карточек при наведении */
.ant-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 81px 21px rgba(58, 145, 171, 0.75);
  -webkit-box-shadow: 0px 0px 81px 21px rgba(58, 145, 171, 0.75);
  -moz-box-shadow: 0px 0px 81px 21px rgba(58, 145, 171, 0.75);
}

/* Стили для изображения в карточках при наведении */
.ant-card:hover .ant-card-cover > img {
  transform: scale(1);
  // Увеличиваем изображение внутри карточки при наведении
}
