
.main_form {
  margin-top: 75px !important;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e3c4a8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  .about_employee {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;

    .bio_container,
    .hob_container {
      width: 48%; // Разделение на две колонки с небольшим отступом
      padding: 10px;
      border: 2px solid #000000;
      border-radius: 5px;
    }

    .bio_container {
      background-color: #f0f0f0;
    }

    .hob_container {
      background-color: #f9f9f9;
    }

  }
  
  .form-item {
    margin-bottom: 20px;
    .ant-form-item-label {
      text-align: left;
    }
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Diss_employee,
    .Add_employee {
      flex: 1;
    }

  }
}
