.main_form{
    width: 100%;
    display: flex;
    background-color: gray;
}

.head{
    background-color: green;
    
}

.left_column{
    width: 50%;
    background-color: red;
}

.right_column{
    width: 50%;
    background-color: yellow;
}

.field_inp{
    width: auto;
}