
.main{
    min-width: 100vh;
    height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    .tables{
        min-width: 84%;
        max-width: 85%;
    }
    .statistic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 500px;
        // background-color: black;
    }
}